<div class="elixir-banner">
  <div class="elixir-banner__logo">
    <img src="/static/elixir_kitemark-60px.png" />
  </div>
  <div class="elixir-banner__text">
    <span>This service</span> is part of the ELIXIR infrastructure
    <p>
      <small>
        <span>Identifiers.org is an ELIXIR Interoperability Platform resource </span>
        <a href="https://elixir-europe.org/platforms/interoperability" target="_blank" class="text-primary">Learn more</a>
      </small>
    </p>
  </div>
</div>

<footer>
  <div id="global-footer" class="global-footer">
    <nav id="global-nav-expanded" class="global-nav-expanded row">
      <!-- Footer will be automatically inserted by footer.js -->
    </nav>
    <section id="ebi-footer-meta" class="ebi-footer-meta row">
      <!-- Footer meta will be automatically inserted by footer.js -->
    </section>
  </div>
</footer>

<!-- EBI/Foundation/jquery libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script defer="defer" src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>
<script src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
<script src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script>

<script type="text/JavaScript">$(document).foundation();</script>
<script type="text/JavaScript">$(document).foundationExtendEBI();</script>
