<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SK33KQZXBT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SK33KQZXBT');
  </script>

  <meta charset="utf-8">
  <title>{{ site.title }}</title>

  <meta name="description" content="Identifiers.org">
  <meta name="keywords" content="persistent identifiers, life siences, semantic web">
  <meta name="author" content="EMBL-EBI">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#0086B4">                             <!-- Android Chrome mobile browser tab color -->
  <meta name="ebi:owner" content="Javier Ferrer">                         <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="unspecified">                    <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2019-05">                         <!-- The last time the content was reviewed -->
  <meta name="ebi:expiry" content="unspecified">                          <!-- When this content is no longer relevant -->

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" />

  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/js/script.js"></script>
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css">
  <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/theme-ebi-industry.css" />

  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="all">

  <!-- Custom masthead color -->
  <meta name="ebi:masthead-color" content="#0086b4">
</head>
