<head>
  <meta charset="utf-8">
  {% if page.title != nil %}
    <title>{{ site.title }} {{ page.title }}</title>
    <meta property="og:title" content="{{ site.title }} {{ page.title }}">
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}">
  {% endif %}
  {% if page.description != nil %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="An established resolving system that enables the referencing of data for the scientific community, with a current focus on the Life Sciences domain but open to all areas of research.">
    <meta property="og:description" content="An established resolving system that enables the referencing of data for the scientific community, with a current focus on the Life Sciences domain but open to all areas of research.">
  {% endif %}
  <meta property="og:image" content="https://docs.identifiers.org/static/identifiers_logo.png">
  <meta property="og:site_name" content="Identifiers.org">
  <meta property="og:locale" content="en-GB">
  <meta name="keywords" content="persistent identifiers, life sciences, semantic web">
  <meta name="author" content="EMBL-EBI">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#0086B4">                             <!-- Android Chrome mobile browser tab color -->
  <meta name="ebi:owner" content="Henning Hermjakob">                         <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="unspecified">                    <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2019-05">                         <!-- The last time the content was reviewed -->
  <meta name="ebi:expiry" content="unspecified">                          <!-- When this content is no longer relevant -->

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" />

  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/js/script.js"></script>
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css">
  <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/theme-ebi-industry.css" />

  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="all">

  <!-- Custom masthead color -->
  <meta name="ebi:masthead-color" content="#0086b4">

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.matomo.identifiers.org"]);
    _paq.push(["setDoNotTrack", true]);
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.identifiers.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//matomo.identifiers.org/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
</head>
