<h4><i class="icon icon-common icon-link mr-2"></i> Navigation </h4>
<ul id="sidebar" class="menu vertical">
    <li><a href="/">Home</a></li>
    <li><a href="/pages/terms_of_use.html">Terms of use</a></li>
    <li><a href="/pages/faq.html">FAQ</a></li>

    <li><a href="/pages/resolving_mechanisms.html">Resolving mechanism</a></li>
    <li><a href="/pages/identification_scheme.html">Identification scheme</a></li>

    <li><a href="/pages/services.html">Web services</a></li>
    <li><a href="/pages/api.html">Rest API</a></li>
    <li><a href="https://github.com/identifiers-org/cloud-libapi">Java libapi <i class="icon icon-common icon-github"></i></a></li>

    <li><a href="/pages/metadata_service.html">Metadata service</a></li>
    <li><a href="/pages/sparql.html">SPARQL</a></li>
    <li><a href="/pages/migration.html">Migrating from previous version</a></li>

    <li><a href="/pages/contact.html">Contact</a></li>
    <li><a href="/pages/jobs.html">Jobs</a></li>
    <li><a href="/pages/publications.html">Publications</a></li>
    <li><a href="/pages/updates.html">Updates</a></li>
    <li><a href="/pages/acknowledgements.html">Acknowledgements</a></li>
</ul>