/* blackbar extended fix */
.masthead-black-bar .row {
  max-width: none !important;
}

/* Logo styles */
.logo-box {
  display: flex;
  margin: 0 0 .5rem 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.logo-box img {
  max-width: 100% !important;
  width: auto;
  height: auto;
}

.logo-text {
  color: inherit;
  margin-left: 1rem !important;
}

.logo-text h1 {
  font-size: 2.5rem !important;
  line-height: 1.2;
}

.logo-subtitle {
  color: inherit;
  font-size: 1rem;
  font-weight: 300;
  text-align: right;
  margin: -1rem 1.5rem 0 0;
  font-style: italic;
}

/* Navbar fixes */
#local-nav {
  width: 100%;
}

#global-search {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.embl-bar .row.padding-bottom-medium {
  max-width: 80rem;
}


/* Navbar active */
.navbar-active {
  color: #292929 !important;
  font-weight: bold !important;
}

/* Elixir banner */
.elixir-banner {
  background-color: #eaeaea;
  padding: .5rem;
  max-width: 80rem;
  margin: 5rem auto .5rem auto;
}

.elixir-banner__logo {
  display: inline-block;
  margin-right: 2rem;
}

.elixir-banner__text {
  display: inline-block;
  vertical-align: middle;
}

.elixir-banner__text p {
  margin-bottom: 0px;
}

.elixir-banner__text a {
  color: #0086b4 !important;
  border-bottom: none !important;
}


/* Main styles */
.blurb h2 {
  color: #222 !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mw-5 {
  display: inline-block;
  min-width: 5rem;
  text-align: center;
}

.mw-2 {
  display: inline-block;
  min-width: 2rem;
  text-align: center;
}

.spacer-5 {
  padding-top: 5rem;
}

.spacer-3 {
  padding-top: 3rem;
}

.spacer-2 {
  padding-top: 2rem;
}

.list-none {
  list-style-type: none;
}

.border {
  border: 1px solid #eaeaea;
}

.video-center {
  display: block;
  margin: 0 auto;
}

.text {
  display: flex;
  align-items: center;
}

.code {
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.code-inline {
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 90%;
  line-height: 1.45;
  overflow: auto;
}

h1 {
  color: #222;
}