<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="level2">
    {% include global_masthead.html %}
    <div id="content" role="main">
      {% include local_masthead.html %}

      <section class="row mt-3" id="main-content-area">
        <div class="medium-9 columns">
        {{ content }}
        </div>
        <div class="medium-3 columns sidebar mt-1" data-sticky-container>
          <div class="sticky" data-sticky data-anchor="main-content-area"  data-options="marginTop:4;">
            <h4>Quick reference</h4>
            <p>If you just want to know where the old services are now, check these links first.</p>
            <div class="">
              <ul class="menu vertical">
                <li class=""><a href="/articles/services.html"><i class="icon icon-common icon-globe mw-2"></i>Web services</a></li>
                <li class=""><a href="/articles/api.html"><i class="icon icon-common icon-code mw-2"></i>API documentation</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
