<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  {% include head.html %}
  <body class="level2">
    {% include global_masthead.html %}
    <div id="content" role="main">
      {% include local_masthead.html %}

      <section class="row mt-3" id="main-content-area">
        <div class="medium-12 large-9 columns">{{ content | toc }}</div>
        <div class="medium-12 large-3 columns sidebar mt-1" data-sticky-container>
          {% include sidebar.html %}
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
